@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.woff2") format("woff2"),
    url("../fonts/montserrat.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nautilus Pompilius";
  src: url("../fonts/nautiluspompilius.woff2") format("woff2"),
    url("../fonts/nautiluspompilius.woff") format("woff"),
    url("../fonts/nautiluspompilius.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserratbold.woff2") format('woff2'), url("../fonts/montserratbold.woff") format('woff'), url("../fonts/montserratbold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alexander';
    src: url("../fonts/alexander.woff2") format('woff2'), url("../fonts/alexander.woff") format('woff'), url("../fonts/alexander.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, main {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 58.75rem;
  margin: 0 auto;
}

.navpan {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  box-sizing: inherit;
  padding: 1.6rem 0 0;
  margin-bottom: 7.875rem;
}

.logo {
  font-size: 1.625rem;
  font-family: "Nautilus Pompilius";
  line-height: 1.2;
  cursor: pointer;
  margin: 0;
  transition: transform 0.2s linear;
}

.logo a {
  color: #fed136;
}

.logo:hover {
  transform: scale(1.2);
}

.menu {
  min-width: 30.625rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: inherit;
}

.menu a {
  padding: 0.625rem 0 0.625rem;
  color: #222222;
  transition: color 0.2s linear, border-bottom 0.2s linear;
}

.menu-item {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
}

.menu-item:hover a {
  color: #fed136;
}

.services {
    box-sizing: inherit;
}

.services__heading {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.services__heading_description {
    margin: 0 0 10rem;
    font-family: 'Alexander';
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}

.services__list {
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 7rem;
    list-style: none;
}

.services__list_item {
    min-width: 18.125rem;
    box-sizing: inherit;
    position: relative;
}

.services__list_item_heading {
    font-size: 1.125rem;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 1rem;
    text-align: center;
  }
  
  .services__list_item_text {
    font-size: 0.875rem;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    text-align: center;
    line-height: 1.2;
    margin: 0;
    padding: 0 1.25rem 0;
  }

  .services__list_item::before {
    display: block;
    content: "";
    width: 4.375rem;
    height: 4.375rem;
    border: 3px solid #fed136;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .services__list_item_commerce::before {
    background-image: url(../img/basket.png);
  }
  
  .services__list_item_web::before {
    background-image: url(../img/laptop.png);
  }
  
  .services__list_item_secure::before {
    background-image: url(../img/lock.png);
  }
  
  .contact {
    box-sizing: inherit;
    background-color: rgb(34, 34, 34);
    background-image: url(../img/map.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 7.25rem
}

.contact_container {
  box-sizing: inherit;
}

.contact__heading {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6.875rem;
}

.contact__heading_description {
    margin: 0 0 4.875rem;
    font-family: 'Alexander';
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}

.contact__form {
  box-sizing: inherit;
  text-align: center;
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
  box-sizing: inherit;
  margin-right: 1.75rem;
  box-sizing: inherit;
}

.Your_E_mail__ {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 250.007px;
  top: 993.6px;
  z-index: 15;
}


.contact__form input {
  width: 28.25rem;
  height: 3.5rem;
  padding: 0 0 0 1.25rem;
  box-sizing: inherit;
}

.contact__form input:not(:last-child) {
  margin-bottom: 1.575rem;
}

.contact__form textarea {
  width: 100%;
  width: 28.25rem;
  margin-bottom: 1.75rem;
  padding: 1.25rem 0 0 1.25rem;
  box-sizing: inherit;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
text-transform: uppercase;
font-size: 0.875rem;
font-family: "Montserrat";
color: rgb(187, 187, 187);
font-weight: bold;
}

.contact__form input:valid,
.contact__form textarea:valid {
  border-color: green;
}

.contact__form input:invalid:not(:placeholder-shown),
.contact__form textarea:invalid:not(:placeholder-shown) {
  border-color: red;
}

.button {
  display: block;
  width: 14.875rem;
  height: 4.125rem;
  background-color: rgb(254, 209, 54);
  border-radius: 0.1875rem;
  color: #ffffff;
  border: none;
  margin: 0rem auto;
  font-size: 1.125rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}